html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: auto;
}
body {
}
aside {
  background-color: #999999;
  box-sizing : border-box;
  width: 220px;
  padding: 6px;
  text-align: center;
}
section {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}
header {
  background-color: #333333;
  color: #ffffff;
  padding: 12px 20px 20px 20px;
}
p {
  margin: 0;
}
canvas#canvas-area {
  box-sizing : border-box;
  margin: 5px;
  border: solid 1px #999999;
}
.input-group-prepend, .input-group-append {
  width: 20%;
}
.input-group-text {
  width: 100%;
  padding: 0;
  margin: 0;
}
i {
  left: 0;
  right: 0;
  margin: auto;
  font-style: normal;
}