html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: auto;
}
body {
  display: flex;
  align-items: stretch;
}
aside {
  background-color: #cccccc;
  box-sizing : border-box;
  width: 220px;
  padding: 6px;
  text-align: center;
}
main {
  overflow-y: scroll;
}
canvas#canvas-area {
  box-sizing : border-box;
  margin: 5px;
  border: solid 1px #999999;
}
.input-group-prepend, .input-group-append {
  width: 16%;
}
.input-group-text {
  width: 100%;
  padding: 0;
  margin: 0;
}
i {
  left: 0;
  right: 0;
  margin: auto;
  font-style: normal;
}